* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#box {
    width: 500px;
    background-color: rgb(27, 100, 236);
    box-shadow: 4px 4px 5px black;
    border-radius: 15px;
    padding: 25px;
    color: white;
}

h1 {
    color: rgb(21, 86, 226);
}